* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #1f1c0d;
}

body {
    background-color: #FEE9FC;
}

#menu-header {
    background-color: #FFC5E5;
    position: absolute;
    width: 100%;
    padding: 15px;
    top: 0;

}

.alinha {
    display: inline-block;
    margin-right: 15px;
}

.direita {
    float: right;
    margin-right: 40px;
}

.sobre {
    margin-top: 100px;
    margin-right: 20%;
    margin-left: 10%;
}

#sobre-conteudo {
    font-size: 32px;
    margin-left: 5%;
}

#sobre-paragrafo {
    font-size: 20px;
    line-height: 23px;
}

#produtos-secao {
    margin-top: 100px;
    margin-right: 40%;
    margin-left: 10%;
    width: 1300px;
}

#services-title {
    font-size: 32px;
    margin-bottom: 15px;
    text-align: center;
}

.right {
    width: 200px;
    margin-top: 20px;
    border-radius: 15px 50px
}

.product:hover {
    width: 800px;
    font-size: 50px;
}

.product{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    transition: width 2s;
}

.social {
    margin-top: 30px;
    margin-left: 30px;
}

.socialmedia-icon {
    width: 64px;
    margin: 30px;
}

a {
    text-decoration: none;
}

footer {
    position: absolute;
    height: 100px;
    background-color: #FFC5E5;
    width: 100%;
}

#paragrafo-footer {
    text-align: center;
    padding-top: 35px;
}